<div align="center"><br><br><br><img src="http://img.mcf.li/icons/nyancat.gif"><br>
<b>LulzSky</b><br>
<small>0.9.2158.1414<br><br><br><br>

Powered by <a href="http://rubyonrails.org">Ruby on Rails</a><br>
This is my first project in Rails, never code this before, please be gentle<br><br>	
This is a single person, non funded, non affiliated, for fun project<br>
This project was done to demonstrate that it could be done without the support from the (*school)<br>
I feel that the (*school) did not do what's best for all<br>
(*school) didn't ask students and other programmers out there<br>
deal was behind closed doors, maybe the lack of an entrepreneurial culture has led to this :(<br>
<br><b>For those who are wondering why the login page is the same as (*clouds)</b><br>
You can buy (*clouds) theme here for $25: 
<a href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469">here</a><br>
I did not copy whatsoever, I had this theme for more than a year now<br>
fun fact : (*clouds) is also written in Rails<br><br>
also : the cat is nyancat<br><br>
<b>Think this is cool? You can do it too<br>Learn to code!</b><br>
<a href="http://tryruby.org/">tryruby.org</a> 
<a href="http://code.org/">code.org</a> 
<a href="http://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-00sc-introduction-to-computer-science-and-programming-spring-2011/">MIT 6.00SC</a><br><br>
<b>Wanna buy me some wow? Donate!</b><br>
<a href="bitcoin:18qFspP5AD1QxGCK2nBk9kUtpWH27pWV8k">Bitcoin</a>
<a href="litecoin:LfjHafgwipdBq9WVwHEtHv8F3X6EpsmQLt">Litecoin</a>
<a href="dogecoin:DNx9DYJw1vXsd2oQ94SEUG5JaLDHnpSyyw">Dogecoin</a><br><br>
</small>
</div>