  <div id="page-content">
                    <div class="content-header">
                        <div class="header-section">
                            <h1><i class="fa fa-signal"></i>Course Record<br><small>Statistics and grades</small></h1>
                        </div>
                    </div>
                     <ul class="breadcrumb breadcrumb-top">
                        <li>Home</li>
                        <li><a href="">Course Record</a></li>
                    </ul>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="block full">
                                <div class="block-title">
                                    <div class="block-options pull-right">
                                        <a class="btn btn-alt btn-sm btn-default" data-toggle="tooltip" title=""><i class="fa fa-check"></i></a>
                                    </div>
                                    <h2><strong>Coming Soon</strong></h2>
                                </div>
                                <div class="timeline block-content-full">     
                                    <h3 class="timeline-header"><small><strong>We are looking in to space right now, we still cant find anything, maybe we look too high. We are waiting to for the new system to deploy, so we can adapt to it</strong></small></h3>
                                         <ul class="timeline-list timeline-hover">
                                    </ul>
                                </div>
                            </div>
                        </div>
</div>