 <% user = User.find_by(oasid: session[:oasusr]) %>
  <div id="page-content">
                    <div class="content-header">
                        <div class="header-section">
                            <h1><i class="fa fa-money"></i>Payments<br><small>A degree is simply expensive!</small></h1>
                        </div>
                    </div>
                     <ul class="breadcrumb breadcrumb-top">
                        <li>Home</li>
                        <li><a href="">Payments</a></li>
                    </ul>
                         </div>
                    <div class="row">

                        <div class="col-sm-12">
                            <div class="block full">
                                <div class="block-title">
                                    <div class="block-options pull-right">
                                        <a class="btn btn-alt btn-sm btn-default" data-toggle="tooltip" title=""><i class="fa fa-check"></i></a>
                                    </div>
                                    <h2><strong>Payment Reminder</strong></h2>
                                </div>
                                <div class="timeline block-content-full">     
                                    <h3 class="timeline-header"><small><strong>You don't have any pending payments</strong></small></h3>
                                         <ul class="timeline-list timeline-hover">
                                    </ul>
                                </div>

                            </div>

                        </div>
                

</div>