  <div id="page-content">
                    <div class="content-header">
                        <div class="header-section">
                            <h1><i class="fa fa-signal"></i>Server Status<br><small>Uptime and latency monitoring</small></h1>
                        </div>
                    </div>
                     <ul class="breadcrumb breadcrumb-top">
                        <li>Home</li>
                        <li><a href="">Server Status</a></li>
                    </ul>
                </div>
      <div class="row">
                                 <div class="col-sm-12">
                            <div class="block full">
                                <div class="block-title">
                                    <div class="block-options pull-right">
                                        <a class="btn btn-alt btn-sm btn-default" data-toggle="tooltip" title=""><i class="fa fa-money"></i></a>
                                    </div>
                                    <h2><strong>Connection Status</strong></h2>
                                </div>
                                <div class="timeline block-content-full">     
                                    <h3 class="timeline-header"><strong>OK </strong></h3>
                                         <ul class="timeline-list timeline-hover">
                                    </ul>
                                </div>

                            </div>
                            
                        </div>
                      
                

</div>